# Maven
/target/

# Eclipse
/.settings/
.project
.classpath
.pydevproject

# Python
__pycache__

# Input
Puten.csv*
Bereiche.csv*
AntennenDaten.csv*
Ausfälle.csv*

# Output
PutenAuswertungZeiten*.csv*
PutenAuswertungAufenthalte*.csv*
PutenAuswertung*.log
PutenAuswertung-docs/
