# Maven
/target/

# Eclipse
/.settings/
.project
.classpath

# Input
Puten.csv*
Bereiche.csv*
AntennenDaten.csv*

# Output
PutenAuswertungZeiten*.csv*
PutenAuswertungAufenthalte*.csv*
PutenAuswertung*.log
PutenAuswertung-docs/
